html{
  overflow-x: hidden;
  overflow-y: auto;
}
body{
  background-color:  #abebc6;
}
.main img{
  height: 150px;
  width: 150px;
  display: inline-block;
  margin-right: 30px;
  margin-left: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.main img:hover{
  transform: translateY(1px);
  transform: translateX(1px);
}
.topbar{
  text-align: center;
  margin-bottom: 10px;
}
#title{
  display: inline-block;
  text-align: center;
  margin-left: 130px;
  font-family: Verdana, sans-serif;
  font-size: 30px;
  color:  #1f618d;
}
#offive{
  text-align: center;
  margin-bottom: 50px;
  font-family: Verdana, sans-serif;
  font-size: 24px;
  color:  #1f618d;
  margin-top: -20px;
}
.topbar button{
  display: inline-block;
  float: right;
  margin-top: 25px;
  margin-right: 10px;
  font-family: Verdana, sans-serif;
  font-size: 15px;
  height: 32px;
  font-weight: 800;
  border-radius: 4px;
  background-color:  #2874a6;
  color: black;
  border: none;
}
.topbar button:hover{
  transform: translateY(1px);
}
.endtext{
  text-align: center;
}
.main{
  text-align: center;
  margin-left: 40px;
}
.scoreboard{
  text-align: center;
  margin: 30px 0;
  font-family: Verdana, sans-serif;
  color: #1f618d;
}
.scoreboard h1{
  margin-left: 50px;
  font-size: 28px;
  margin-bottom: 30px;
}
.scoreboard span{
  margin: 0px 20px;
}
.actiontext{
  text-align: center;
  font-family: Verdana, sans-serif;
  color: black;
  font-size: 14px;
}
.endtext #congrats{
  font-size: 32px;
  font-family: Verdana, sans-serif;
  color: #1f618d;
}
.endtext #maybe{
  font-size: 20px;
  font-family: Verdana, sans-serif;
  color: #1f618d;
}
